.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .form {
    height: 50px;
    display: flex;
    align-items: top;
    justify-content: top;
    gap: 5px;
    padding-bottom: 80px;

    button {
      height: 56px;
    }
  }

  table {
    border: 1px solid;
    border-bottom: none;
    border-spacing: inherit;

    thead {
      border: 1px solid #000;

      th {
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        padding: 5px;
      }

      :first-child {
        border-left: none;
      }
    }

    tbody {
      tr {
        td {
          border-left: 1px solid #000;
          border-bottom: 1px solid #000;
          padding: 5px;

          span {
            cursor: pointer;
            padding-left: 20px;
          }
        }

        :first-child {
          border-left: none;
        }
      }
    }
  }
}
