<div class="container">
  <div *ngIf="sucessMessage" class="sucess-message">
    {{ sucessMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div class="form">

    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matInput readonly placeholder="id" [(ngModel)]="form_id">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="nome" [(ngModel)]="form_nome_pessoa">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="email" [(ngModel)]="form_email_principal">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput placeholder="Telefone" [(ngModel)]="form_fone_res">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="buttonClick()">
      {{form_id ? 'Salvar':'Criar'}}
    </button>

  </div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoas$ | async">
        <td>{{ pessoa.id }}</td>
        <td>{{ pessoa.nome_pessoa }}</td>
        <td>{{ pessoa.email_principal }}</td>
        <td>{{ pessoa.fone_res }}</td>
        <td>
          <span (click)="preencherCampos(pessoa)">alterar</span>
          <span (click)="apagar(pessoa.id!)">remover</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>