<div class="container">
  <div *ngIf="sucessMessage" class="sucess-message">
    {{ sucessMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div class="form">
    <div>
      <label>ID</label><input type="text" class="id">
    </div>
    <div>
      <label>Nome</label><input type="text">
    </div>
    <div>
      <label>Email</label><input type="text">
    </div>
  </div>
  <table>
    <thead>
      <th>Id</th>
      <th>Nome</th>
      <th>E-mail</th>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoas$ | async">
        <td>{{ pessoa.id }}</td>
        <td>{{ pessoa.nome_pessoa }}</td>
        <td>{{ pessoa.email_principal }}</td>
      </tr>
    </tbody>
  </table>
</div>